.contact-form {
  background-color: rgba(31, 31, 31, 0.559);
  padding: 3vw 4vw;
}
.contact-form h1 {
  font-size: 5vw;
}

.contact-form .form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 1vw;
}

.contact-form .form .right {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 2vw;
}

.form .right button {
  background-color: white;
  padding: 1vw;
  border-radius: 10px;
  font-size: 1em;
}

.contact-form .form .left {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.contact-form .form .right input,
.contact-form .form .right textarea {
  padding: 1vw;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: rgb(28, 27, 27);
  color: white;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
  margin-right: 5vw;
  padding: 1vw 2vw;
  border: 1px solid white;
  border-radius: 20px;
}

.contact-card .card-left {
  display: flex;
  flex-direction: column;
}

.contact-card .card-left h3 {
  font-size: 1.3em;
  font-weight: 600;
}

.contact-card .card-left h4 {
  font-size: 1em;
  font-weight: 300;
}

.contact-form i {
  font-size: 1em;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .contact-form .form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 1vw;
  }
  .contact-card {
    width: 100%;
    border-radius: 10px;
  }
  .contact-form .form .right input,
  .contact-form .form .right textarea {
    padding: 2vw;
    margin-top: 1vw;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: rgb(28, 27, 27);
    color: white;
  }

  .contact-form .form .right button {
    padding: 2.5vw;
  }
}
