body h1:hover,
body h2:hover,
body h3:hover,
body h4:hover,
body h5:hover {
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  transition: all 0.2s ease-in;
}

body h1:hover {
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.2s ease-in;
}

body p:hover {
  background-color: white;
  color: black;
  /* padding: 40px; */
  border-radius: 20px;
  font-size: 1.5em;
  transition: all 0.5s ease-in;
}
body .tech-stacks {
  transition: all 0.5s ease-in;
}
body .tech-stacks:hover {
  background-color: white;
  color: black;
  /* padding: 20px; */
  border-radius: 20px;
}

body p:hover {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 20px;
  font-size: 1.43em;
  margin-left: -25px;
  margin-right: -25px;
}
.project-detail h1:hover {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 6vw;
  margin-bottom: 1vw;
}

.feature h4:hover,
.feature h5:hover {
  padding: 0;
  background-color: transparent;
}

.feature:hover {
  padding: 30px;
  scale: 1.08;
  background-color: white;
  color: black;
}

.project-detail h3:hover {
  border-radius: 10px;
  padding: 10px;
  margin: -10px;
}

.project-detail p:hover {
  padding: 30px;
  scale: 1.01;
}

.project-detail .right h4:hover {
  padding: 0;
  background-color: transparent;
}

body .tech-stacks h2:hover,
body .tech-stacks h3:hover,
body .page4 h3:hover,
body .page4 h2:hover,
body .page4 h5:hover,
body .contact-form h3:hover,
body .contact-form h4:hover {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
}

body .page4 h1:hover,
body .about-page h1:hover {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 8vw;
  margin-bottom: 2.3vw;
  transition: all 0.2s ease-in;
}

body .contact-form h1:hover {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 20px;
  font-size: 4.5vw;
  margin-right: 1.5vw;
  margin-bottom: -0.1vw;
}

body .loader h1:hover,
body .loader h2:hover,
body .loader h5:hover,
body .loader h6:hover {
  padding: 0%;
  color: white;
  background-color: transparent;
}

body .contact-form .contact-card .card-left:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  padding: 10px;
  scale: 1.02;
  margin-bottom: -5px;
  margin-top: -5px;
}

.project-detail .title img:hover {
  border-radius: 50%;
  padding: 2px;
  border: 5px solid #f8f8f8;
  scale: 1.2;
  z-index: -1;
}
