* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  /* cursor: none; */
}
.crsr {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: all ease-in;
  pointer-events: none;
  mix-blend-mode: difference;
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* hides scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: rgb(201, 198, 198);
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#main {
  width: 100%;
  height: 100%;
}

.page1 {
  width: 100%;
  height: 100vh;
}

.page3 {
  width: 100%;
  height: 100vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 h1 {
  font-size: 10vw;
}

.page4 {
  width: 100%;
  /* background-color: blueviolet; */
}

.mobile-ss-group img {
  width: 8vw;
}

.desktok-ss img {
  width: 25vw;
}

.desktok-ss,
.mobile-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vw;
}

.page4 .project-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2vw;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #090909;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 20px;
}

@media (pointer: coarse) and (max-width: 600px) {
  .crsr {
    display: none;
  }
}
